<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sidebar</title>
    <link rel="stylesheet" href="../static/commonstyle.css">
    <meta http-equiv="p3p" content='CP="CAO DSP AND SO " policyref="/w3c/p3p.xml"' />
</head>
<style>
body {
    margin: 0px;
    padding: 0px;
    background-color: #1479cc;
}
.sidebar {
    right: 0;
    width: 250px;
    display: flex;
    flex-direction: column;
}
li {
    list-style: none;
}
.logg{
    display: flex;
    >*{margin: 10px;}
}
a{
vertical-align:baseline;
text-align: left;
text-decoration: none;
color: aliceblue;
}
.x{
    top: 12px;
    right: 5px;
    position: fixed;
    display: flex;
    justify-content: end;
}
.menu{
    margin-top: 40px;
    padding-left: 30px;
}
</style>
<body>
    <div class="hambuger">
        <div class="sidebar">
            <div id="xBnt" class="x" onclick="closeSide()">
                <img src="https://cdn-icons-png.flaticon.com/512/75/75519.png" alt="" width="30px" height="30px">
            </div>
            <div class="menu">
                <div th:if="${session.userName}">
                    <div>
                        <a role="button" onclick="googlelogout()">로그아웃</a>
                        <label id="sessionUserName" th:text="${userName} + 님"></label>
                    </div>
                </div>
                <div>
                    <div th:if="!${userName}">
                        <a role="button" onclick="googlelogin()">Google Login</a>
                    </div>
                </div>

                <ul>
                    <li th:if="${userName}"><a onclick="mypagemove()">마이 페이지</a></li>
                    <li><a href="#">주간 순위</a></li>
                    <li><a href="#">문의사항</a></li>
                    <li><a href="#">개발자</a></li>
                   <!-- <li>메뉴</li>
                    <li>구성</li>-->

                </ul>
            </div>
        </div>
    </div>
    <script>
<!--        function closeSide(sdf){window.parent.sidebar();-->
<!--                    alert(sdf);-->
<!--}-->
<!--        function mypagemove() {window.parent.location.href="/mypage";}-->
<!--        function googlelogin() {location.href="oauth2/authorization/google";}-->
<!--        function googlelogout() {location.href="/logout";}-->
<!--&lt;!&ndash;        function getSession(){&ndash;&gt;-->
<!--&lt;!&ndash;             var uid = '<%=(String)session.getAttribute("userName")%>';&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->
<!--        function hello(sdf) {-->
<!--        }-->

        function closeSide(sdf) {
            window.parent.sidebar();
        }

        function mypagemove() {
            window.parent.location.href="/mypage";
        }

        function googlelogin() {
            location.href="oauth2/authorization/google";
        }

        function googlelogout() {
            location.href="/logout";
        }

        function getSession(xx) {
            document.getElementById('sessionUserName').innerText = xx;
        }

    </script>

</body>
</html>